<div
  style="
    display: grid;
    grid-template-columns: inherit;
    grid-column: span 10;
    grid-template-rows: 1fr 8fr 1fr;
"

  *ngIf="currentPostEmpty(); else showPosts">
<h1 id="title">Make your first post!</h1>
<h2 id="post-date">First Post</h2>
  <div id = "content">
    Future tasks for completion:
  <input type="checkbox" id="taskOne"
         checked>
  <label for="taskOne">GUI Changelog to show changes over time, basically
  an internal time tracking system</label>
  <input type="checkbox" id="taskTwo"
         checked>
  <label for="taskTwo">GUI Changelog to show changes over time, basically
    an internal time tracking system</label>
  </div>
</div>
<ng-template #showPosts>
<div  style="
    display: grid;
    grid-template-columns: inherit;
    grid-column: span 10;
    grid-template-rows: 1fr 8fr 1fr;
">
<h1 id="title">{{currentPost?.title}}</h1>
<h2 id="post-date">{{currentPost?.date | date }}</h2>
  <p id="content">
 {{currentPost?.content}}
  </p>
</div>
</ng-template>
