@import "src/styles.scss";

:host {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 1fr 8fr 1fr;
  grid-column: span 10;
  height: 100vh;

}

header {
  padding: 25px;
  display: flex;
  flex-direction: row;
  height: 50px;
}

#circle-logo {
  margin-right: 20px;
}





app-post-list {


}
