:host {
  height: 100%;
  background-color: chartreuse;
  display:grid;
  grid-template-rows: inherit;
  grid-template-columns: inherit;

}

#title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: span 6;
}


#content {
  font-weight: bolder;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: span 7;
  background-color: antiquewhite;

}
