
<form id="login-form" class="form-group" (submit)="loginUser()"
      name="loginForm"
      #loginForm="ngForm">
  <span class="field-label">Username:</span>
  <input name="username" type="text"
         required [(ngModel)]="loginRequest.username"
         #username="ngModel"
>

  <span class="field-label">Password:</span>
  <input name="password" type="password"
         required [(ngModel)]="loginRequest.password"
         #password="ngModel"
         >
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
