<p>post-form works!</p>

<div class="container" [ngSwitch]="postForm.controls['enabled'].value">

  <div *ngSwitchCase="false">
    <h1>Form is not enabled initially!</h1>
  </div>
  <div *ngSwitchCase="true">
    <h1>Form is enabled!</h1>

    <form id="post-form" class="form-group" [formGroup]="postForm"
          (ngSubmit)="savePost()">
      <button type="submit" [disabled]="postForm.invalid">Save Post</button>
      <span class="field-label">Title</span>
      <input id="post-title" name="title" type="text"
             required formControlName="title"
      >

      <span class="field-label">Content</span>
      <textarea id="post-content" name="content" type="text"
             formControlName="content"
      ></textarea>

      <span class="field-label">Content</span>
      <input name="date" type="date" formControlName="date">

    </form>
  </div>
</div>
