:host {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
}

#post-form {
  margin-left: 50px;
}

#post-content {
  height: 750px;
  width: 475px;

}

#post-title {
  width: 350px;
}


